.test-mode {
	* {
		border: 1px solid gray;
	}
}
header {
	background-color: rgb(103, 103, 180);
	color: white;
	height: 8vh;
	align-content: center;
}

.title {
	h3 {
		margin: 0px;
	}
	p {
		margin: 0px;
		align-content: end;
		text-align: end;
	}
}
.title::before {
	content: "";
	background-color: white;
	width: 15px;
	height: 30px;
	margin-right: 5px;
}

.content {
	height: 85vh;
}

.content-left {
	position: relative;
	height: 100%;
	width: 40%;
	background-color: rgb(186, 186, 214);
}

.content-card {
	position: absolute;
	top: 25%;
	right: -15px;
	box-shadow: -3px 1px 5px gray;
	background-color: rgb(208, 208, 238);
	padding-inline: 50px;
	transition: 0.5s;
}

.content-card:hover {
	position: absolute;
	top: 20%;
	right: -25px;
	box-shadow: -3px 1px 5px gray;
	background-color: rgb(208, 208, 238);
	padding-inline: 50px;
}

.content-card_photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: no-repeat bottom/cover url("../public/photo/avatar.jpg");
	margin-top: 10px;
}
.content-card_title {
	padding-top: 10px;
	padding-bottom: 10px;
	align-content: center;
	text-align: center;
	.name {
		font-size: 36px;
	}
}
.content-photo-mb {
	width: 200px;
	height: 200px;
	margin: auto;
	margin-block: 50px;
	border-radius: 50%;
	background: no-repeat bottom/cover url("../public/photo/avatar.jpg");
}

.content-right {
	height: 100%;
	width: 60%;
	align-content: center;
}
.content-text {
	max-width: 600px;
	line-height: 4vh;
	margin-left: 10%;
}
@media (max-width: 500px) {
	.content {
		height: auto;
	}
}
